@model MvcTienda.Models.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Confirmado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preparado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preparado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enviado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enviado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cobrado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cobrado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Devuelto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Devuelto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anulado)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>
    </dl>
</div>

<div>
    <table class="table border-bottom">
        <tr>
            <th></th>
            <th>Id Producto</th>
            <th>Descripción del producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Descuento</th>
            <th>Total</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Detalles)
        {
            <tr>

                <td>
                    @{
                        var nombreImagen = "imagen-no-disponible.jpg";
                        if (item.Producto.Imagen != null)
                        {
                            nombreImagen = item.Producto.Imagen;
                        }
                    }
                    <img style="width:50px; height:50px;" src="~/imagenes/@nombreImagen" alt="No funciona" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Cantidad)



                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Precio)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Descuento)</td>
                <td>
                    @{
                        decimal precio = 0;
                        decimal total = 0;

                        precio = (item.Precio * item.Cantidad) - item.Descuento;

                        total = total + precio;
                    }

                    <p>@precio</p>

                </td>

            </tr>

        }
        @{
            decimal totalProducto = 0;
            decimal totalFinal = 0;
            int cantidadProducto = 0;
        }
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th>
               @foreach (var item in Model.Detalles)
                {
                    totalProducto = (item.Precio * item.Cantidad) - item.Descuento;
                    totalFinal = totalFinal + totalProducto;
                    cantidadProducto = cantidadProducto + 1;
                }

                @totalFinal.ToString("C");
            </th>
        </tr>

    </table>
</div>

@if (Model.EstadoId == 1)
{
       <form asp-action="ConfirmarPedido" class="container-fluid text-center">
        <input class="btn btn-success" type="submit" value="Confirma Pedido" asp-action="ConfirmarPedido" asp-controller="Carrito" asp-route-id="@Model.Id" />
    </form>
}
else
{
        <form asp-action="ConfirmarPedido" class="container-fluid text-center" hidden>
        <input class="btn btn-success" type="submit" value="Confirma Pedido" asp-action="ConfirmarPedido" asp-controller="Carrito" asp-route-id="@Model.Id" />
    </form>
}

<h3 class="container-fluid text-center">
    Cantidad de productos en este pedido @cantidadProducto;
</h3>


<div>
    <a asp-action="Index">Volver a mis pedidos</a>
</div>
<div class="d-print-none text-center">
 <a class="btn btn-primary" href="javascript:window.print()">Imprimir</a>
</div>
